#main {
	margin: 0px auto;
	width: 750px;
}
#header {
	background: #9cc;
	border: 2px #033 solid;
	color: #366;
}
#menu {
	margin: 0px;
	padding: 1px 0px;
	list-style-type: none;
	height:26px;
}
#menu li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 33.3%;
}
#menu a {
	position: relative;
	display: block;
	margin: 1px;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #9f9;
	color: #060;
}
#menu a.sel {
	background: #060;
	color: #9f9;
}
#menu a:hover {
	background: #060;
	color: #9f9;
}
.winner {
	background: #6f6;
	border: 2px #060 solid;
}
.loser {
	background: #f66;
	border: 2px #f00 dashed;
}
.home {
	left: 5px;
	position: absolute;
	top: 24px;
	width: 246px;
}
.away {
	position: absolute;
	right: 5px;
	top: 24px;
	width: 246px;
}
.game {
	background: #fc9;
	border: 2px #630 solid;
	display: block;
	height: 150px;
	margin: 4px auto;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	width: 500px;
}
